#bottom-nav {
  z-index: 1;
  left: 290px;
  bottom: 0px;
  width: 1100px;
  height: 200px;
  position: fixed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(0,0,0,0.7);
}

#chart {
  width: 800px;
  height: 50px;
  display: flex;
  /* background-color: green; */
}