#left-nav {
  z-index: 1;
  width: 250px;
  height: 900px;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
}

#left-nav .header {
  color: gold;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.time {
  font-size: 12px;
  text-align: center;
}

.elapsed {
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

#left-nav .container {
  height: 610px;
}

.country-item {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  justify-content: space-between;
}