#logos a {
  display: flex;
  position: relative;
}

.github-logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  background-size: contain;
  background-image: url('https://camo.githubusercontent.com/e8b53b6a899da4a8b5509306e724974a7f8495fc/687474703a2f2f7777772e69636f6e6e696e6a612e636f6d2f66696c65732f3234312f3832352f3231312f726f756e642d636f6c6c61626f726174696f6e2d736f6369616c2d6769746875622d636f64652d636972636c652d6e6574776f726b2d69636f6e2e737667');
}

.linkedin-logo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  background-size: contain;
  background-image: url('https://cdn.modernghana.com/images/content/p73wnb0nmh_likedin.jpg');
}