#right-nav {
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 250px;
  height: 900px;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
}

#right-nav .header {
  color: gold;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.total {
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;}

#right-nav .container {
  height: 630px;
}

.tweet-item {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.image {
  padding-right: 10px;
  width: 50px !important;
  height: 50px !important;
}

.content {
  display: flex;
  padding-bottom: 5px;
}

.inform {
  display: block;
}

.name {
  color: green;
  font-size: 12px;
  font-weight: bold;
}

.city {
  font-size: 11px;
  font-weight: bold;
}

.text {
  font-size: 10px;
}